<form method="post" action="{{ path('tenis_player_delete', {'id': tenis_player.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tenis_player.id) }}">
    <button class="btn">Delete</button>
</form>
