{% extends 'backend_base.html.twig' %}

{% block title %}Edit TenisPlayer{% endblock %}

{% block body %}
    <h1>Edit TenisPlayer</h1>

    {{ include('tenis_player/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tenis_player_index') }}">back to list</a>

    {{ include('tenis_player/_delete_form.html.twig') }}
{% endblock %}
