{% extends 'backend_base.html.twig' %}

{% block title %}TenisPlayer index{% endblock %}

{% block body %}
    <h1>TenisPlayer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PlayerName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tenis_player in tenis_players %}
            <tr>
                <td>{{ tenis_player.id }}</td>
                <td>{{ tenis_player.playerName }}</td>
                <td>
                    <a href="{{ path('tenis_player_show', {'id': tenis_player.id}) }}">show</a>
                    <a href="{{ path('tenis_player_edit', {'id': tenis_player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tenis_player_new') }}">Create new</a>
{% endblock %}
