{% extends 'backend_base.html.twig' %}

{% block title %}New TenisPlayer{% endblock %}

{% block body %}
    <h1>Create new TenisPlayer</h1>

    {{ include('tenis_player/_form.html.twig') }}

    <a href="{{ path('tenis_player_index') }}">back to list</a>
{% endblock %}
