{% extends 'backend_base.html.twig' %}

{% block title %}TenisPlayer{% endblock %}

{% block body %}
    <h1>TenisPlayer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tenis_player.id }}</td>
            </tr>
            <tr>
                <th>PlayerName</th>
                <td>{{ tenis_player.playerName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tenis_player_index') }}">back to list</a>

    <a href="{{ path('tenis_player_edit', {'id': tenis_player.id}) }}">edit</a>

    {{ include('tenis_player/_delete_form.html.twig') }}
{% endblock %}
