<form method="post" action="{{ path('league_player_point_delete', {'id': league_player_point.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ league_player_point.id) }}">
    <button class="btn">Delete</button>
</form>
