{{ form_start(form) }}
<div class="col-12 row">
    <div class="col-2">
        <label for="">tenisOne</label>
        {{ form_widget(form.tenisPlayer) }}
    </div>
    <div class="col-1">
        <label for="">winSet</label>
        {{ form_widget(form.winSet) }}
    </div>
    <div class="col-1">
        <label for="">loseSet</label>
        {{ form_widget(form.loseSet) }}
    </div>
    <div class="col-1">
        <label for="">winGame</label>
        {{ form_widget(form.winGame) }}
    </div>
    <div class="col-1">
        <label for="">loseGame</label>
        {{ form_widget(form.loseGame) }}
    </div>
    <div class="col-1">
        <label for="">winner</label>
        {{ form_widget(form.winner) }}
    </div>
    <div class="col-1">
        <label for="">setAvarageOne</label>
        {{ form_widget(form.setAvarageOne) }}
    </div>
    <div class="col-1">
        <label for="">gameAvarageOne</label>
        {{ form_widget(form.gameAvarageOne) }}
    </div>
    <div class="col-1">
        <label for="">onePoint</label>
        {{ form_widget(form.onePoint) }}
    </div>
</div>
<div class="col-12 row">
    <div class="col-2">
        <label for="">playerTwo</label>
        {{ form_widget(form.playerTwo) }}
    </div>
    <div class="col-1">
        <label for="">winSetTwo</label>
        {{ form_widget(form.winSetTwo) }}
    </div>
    <div class="col-1">
        <label for="">loseSetTwo</label>
        {{ form_widget(form.loseSetTwo) }}
    </div>
    <div class="col-1">
        <label for="">winGameTwo</label>
        {{ form_widget(form.winGameTwo) }}
    </div>
    <div class="col-1">
        <label for="">loseGameTwo</label>
        {{ form_widget(form.loseGameTwo) }}
    </div>
    <div class="col-1">
        <label for="">winner2</label>
        {{ form_widget(form.winner2) }}
    </div>
    <div class="col-1">
        <label for="">setAvarageTwo</label>
        {{ form_widget(form.setAvarageTwo) }}
    </div>
    <div class="col-1">
        <label for="">gameAvarageTwo</label>
        {{ form_widget(form.gameAvarageTwo) }}
    </div>
    <div class="col-1">
        <label for="">twoPoint</label>
        {{ form_widget(form.twoPoint) }}
    </div>
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
