{% extends 'backend_base.html.twig' %}

{% block title %}Edit LeaguePlayerPoint{% endblock %}

{% block body %}
    <h1>Edit LeaguePlayerPoint</h1>

    {{ include('league_player_point/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('league_player_point_index') }}">back to list</a>

    {{ include('league_player_point/_delete_form.html.twig') }}
{% endblock %}
