{% extends 'backend_base.html.twig' %}

{% block title %}LeaguePlayerPoint index{% endblock %}

{% block body %}
    <h1>LeaguePlayerPoint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WinSet</th>
                <th>LoseSet</th>
                <th>WinGame</th>
                <th>LoseGame</th>
                <th>WinSetTwo</th>
                <th>LoseSetTwo</th>
                <th>WinGameTwo</th>
                <th>LoseGameTwo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for league_player_point in league_player_points %}
            <tr>
                <td>{{ league_player_point.id }}</td>
                <td>{{ league_player_point.winSet }}</td>
                <td>{{ league_player_point.loseSet }}</td>
                <td>{{ league_player_point.winGame }}</td>
                <td>{{ league_player_point.loseGame }}</td>
                <td>{{ league_player_point.winSetTwo }}</td>
                <td>{{ league_player_point.loseSetTwo }}</td>
                <td>{{ league_player_point.winGameTwo }}</td>
                <td>{{ league_player_point.loseGameTwo }}</td>
                <td>
                    <a href="{{ path('league_player_point_show', {'id': league_player_point.id}) }}">show</a>
                    <a href="{{ path('league_player_point_edit', {'id': league_player_point.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('league_player_point_new') }}">Create new</a>
{% endblock %}
