{% extends 'backend_base.html.twig' %}

{% block title %}New LeaguePlayerPoint{% endblock %}
{% block customScript %}
<script>
    $(document).ready(function () {
        // $(".form-group").addClass("col-sm-3");
        // $(".form-group").css({"float":"left"});
    });
</script>
{% endblock %}

{% block body %}
    <h1>Create new LeaguePlayerPoint</h1>

    {{ include('league_player_point/_form.html.twig') }}

    <a href="{{ path('league_player_point_index') }}">back to list</a>
{% endblock %}
