{% extends 'backend_base.html.twig' %}

{% block title %}LeaguePlayerPoint{% endblock %}

{% block body %}
    <h1>LeaguePlayerPoint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ league_player_point.id }}</td>
            </tr>
            <tr>
                <th>WinSet</th>
                <td>{{ league_player_point.winSet }}</td>
            </tr>
            <tr>
                <th>LoseSet</th>
                <td>{{ league_player_point.loseSet }}</td>
            </tr>
            <tr>
                <th>WinGame</th>
                <td>{{ league_player_point.winGame }}</td>
            </tr>
            <tr>
                <th>LoseGame</th>
                <td>{{ league_player_point.loseGame }}</td>
            </tr>
            <tr>
                <th>WinSetTwo</th>
                <td>{{ league_player_point.winSetTwo }}</td>
            </tr>
            <tr>
                <th>LoseSetTwo</th>
                <td>{{ league_player_point.loseSetTwo }}</td>
            </tr>
            <tr>
                <th>WinGameTwo</th>
                <td>{{ league_player_point.winGameTwo }}</td>
            </tr>
            <tr>
                <th>LoseGameTwo</th>
                <td>{{ league_player_point.loseGameTwo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('league_player_point_index') }}">back to list</a>

    <a href="{{ path('league_player_point_edit', {'id': league_player_point.id}) }}">edit</a>

    {{ include('league_player_point/_delete_form.html.twig') }}
{% endblock %}
