<form method="post" action="{{ path('match_result_delete', {'id': match_result.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ match_result.id) }}">
    <button class="btn">Delete</button>
</form>
