{% extends 'backend_base.html.twig' %}

{% block title %}Edit MatchResult{% endblock %}

{% block body %}
    <h1>Edit MatchResult</h1>

    {{ include('match_result/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('match_result_index') }}">back to list</a>

    {{ include('match_result/_delete_form.html.twig') }}
{% endblock %}
