{% extends 'backend_base.html.twig' %}

{% block title %}MatchResult index{% endblock %}

{% block body %}
    <h1>MatchResult index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WinSet</th>
                <th>LoseSet</th>
                <th>SetAvarage</th>
                <th>WinGame</th>
                <th>LoseGame</th>
                <th>GameAvarage</th>
                <th>Point</th>
                <th>WinMatch</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match_result in match_results %}
            <tr>
                <td>{{ match_result.id }}</td>
                <td>{{ match_result.winSet }}</td>
                <td>{{ match_result.loseSet }}</td>
                <td>{{ match_result.setAvarage }}</td>
                <td>{{ match_result.winGame }}</td>
                <td>{{ match_result.loseGame }}</td>
                <td>{{ match_result.gameAvarage }}</td>
                <td>{{ match_result.point }}</td>
                <td>{{ match_result.winMatch ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('match_result_show', {'id': match_result.id}) }}">show</a>
                    <a href="{{ path('match_result_edit', {'id': match_result.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('match_result_new') }}">Create new</a>
{% endblock %}
