{% extends 'backend_base.html.twig' %}

{% block title %}New MatchResult{% endblock %}

{% block customScript %}
    <script>
        $(document).ready(function () {
            $("fieldset > legend").css({
                "border-bottom": "1px solid lightgray",
                "margin-bottom": "15px",
            });
            $("fieldset fieldset legend").remove();
            $("fieldset fieldset .form-group").addClass("col-3 float-left");
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row col-12 p-0 m-0">
        <div class="row col-12 p-0 m-0 align-items-center">
            <div class="col-8 p-0 m-0 float-left text-left">
                <h1>Create new MatchResult</h1>
            </div>
            <div class="col-4 p-0 m-0 float-left text-right">
                <a class="btn btn-sm btn-dark" href="{{ path('match_result_index') }}">back to list</a>
            </div>
        </div>

        <div class="row col-12">
            {{ include('match_result/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
