{% extends 'backend_base.html.twig' %}

{% block title %}MatchResult{% endblock %}

{% block body %}
    <h1>MatchResult</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match_result.id }}</td>
            </tr>
            <tr>
                <th>WinSet</th>
                <td>{{ match_result.winSet }}</td>
            </tr>
            <tr>
                <th>LoseSet</th>
                <td>{{ match_result.loseSet }}</td>
            </tr>
            <tr>
                <th>SetAvarage</th>
                <td>{{ match_result.setAvarage }}</td>
            </tr>
            <tr>
                <th>WinGame</th>
                <td>{{ match_result.winGame }}</td>
            </tr>
            <tr>
                <th>LoseGame</th>
                <td>{{ match_result.loseGame }}</td>
            </tr>
            <tr>
                <th>GameAvarage</th>
                <td>{{ match_result.gameAvarage }}</td>
            </tr>
            <tr>
                <th>Point</th>
                <td>{{ match_result.point }}</td>
            </tr>
            <tr>
                <th>WinMatch</th>
                <td>{{ match_result.winMatch ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('match_result_index') }}">back to list</a>

    <a href="{{ path('match_result_edit', {'id': match_result.id}) }}">edit</a>

    {{ include('match_result/_delete_form.html.twig') }}
{% endblock %}
