<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li style="margin-bottom: 15px!important;">
                    <a style="margin: 0!important; padding: 0 0 0 15px!important;" class="waves-effect waves-dark" href="{{ path('admin_home_page') }}" aria-expanded="false">
                        <i class="icon-home"></i>
                        <span class="hide-menu">{{ "adminHomePage"|trans }}
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icons-Security-Settings"></i>
                            <span class="hide-menu">
                                {{ "admin"|trans }}
                                <span class="badge badge-pill badge-cyan ml-auto">5</span>
                            </span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
{#                                    <i class="icons-Fruits" style="margin-right: 5px!important;"></i>#}
                            <li><a href="{{ path('league_index') }}">Lig - Listesi</a></li>
                            <li><a href="{{ path('tenis_player_index') }}">Oyuncu - Listesi</a></li>
                            <li><a href="{{ path('match_list_index') }}">Maç - Listesi</a></li>
                            </a>
                                </a>
                                <ul aria-expanded="false" class="collapse">
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
{#                                        <li><a href="{{ path('admin_home_page') }}">{{ "testSuperAdmin"|trans }}</a></li>#}
                                    {% endif %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') == false and is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('admin_home_page') }}">{{ "testAdmin"|trans }}</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
