{% extends 'backend_base.html.twig' %}

{% block title %}Edit League{% endblock %}

{% block body %}
    <h1>Edit League</h1>

    {{ include('league/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('league_index') }}">back to list</a>

    {{ include('league/_delete_form.html.twig') }}
{% endblock %}
