{% extends 'backend_base.html.twig' %}

{% block title %}League index{% endblock %}

{% block body %}
    <h1>League index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LeagueName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for league in leagues %}
            <tr>
                <td>{{ league.id }}</td>
                <td>{{ league.leagueName }}</td>
                <td>
                    <a href="{{ path('league_show', {'id': league.id}) }}">show</a>
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <a href="{{ path('league_edit', {'id': league.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('league_new') }}">Create new</a>
{% endblock %}
