{% extends 'backend_base.html.twig' %}

{% block title %}League{% endblock %}
{% block customScript %}
<script>

    $(document).ready( function () {
        $('.crudTable').DataTable();
    } );
</script>
{% endblock %}
{% block body %}
    <h1>League</h1>

    <table class="crudTable table table-bordered table-hover">
        <thead>
        <tr>
            <th>{{ "leagueName"|trans }}</th>
            <th>{{ "playerName"|trans }}</th>
            <th>{{ "totalWinSet"|trans }}</th>
            <th>{{ "totalLoseSet"|trans }}</th>
            <th>{{ "totalSetAvarage"|trans }}</th>
            <th>{{ "totalWinGame"|trans }}</th>
            <th>{{ "totalLoseGame"|trans }}</th>
            <th>{{ "totalGameAvarage"|trans }}</th>
            <th>{{ "totalWinPoint"|trans }}</th>
            <th>{{ "totalWinMatchCount"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for r in result %}
        <tr>
            <td>{{ r.leagueName }}</td>
            <td>{{ r.playerName }}</td>
            <td>{{ r.totalWinSet }}</td>
            <td>{{ r.totalLoseSet }}</td>
            <td>{{ r.totalSetAvarage }}</td>
            <td>{{ r.totalWinGame }}</td>
            <td>{{ r.totalLoseGame }}</td>
            <td>{{ r.totalGameAvarage }}</td>
            <td>{{ r.totalWinPoint }}</td>
            <td>{{ r.totalWinMatchCount }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('league_index') }}">back to list</a>

    <a href="{{ path('league_edit', {'id': league.id}) }}">edit</a>

    {{ include('league/_delete_form.html.twig') }}
{% endblock %}
