{% if is_granted("ROLE_SUPER_ADMIN") %}
<form method="post" action="{{ path('match_list_delete', {'id': match_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ match_list.id) }}">
    <button class="btn">Delete</button>
</form>
{% endif %}
