{% extends 'backend_base.html.twig' %}

{% block title %}Edit MatchList{% endblock %}

{% block body %}
    <h1>Edit MatchList</h1>

    {{ include('match_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('match_list_index') }}">back to list</a>

    {{ include('match_list/_delete_form.html.twig') }}
{% endblock %}
