{% extends 'backend_base.html.twig' %}

{% block title %}MatchList index{% endblock %}

{% block body %}
    <h1>MatchList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match_list in match_lists %}
            <tr>
                <td>{{ match_list.id }}</td>
                <td>{{ match_list.name }}</td>
                <td>
                    <a href="{{ path('match_list_show', {'id': match_list.id}) }}">show</a>
                    <a href="{{ path('match_list_edit', {'id': match_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('match_list_new') }}">Create new</a>
{% endblock %}
