{% extends 'backend_base.html.twig' %}

{% block title %}New MatchList{% endblock %}

{% block body %}
    <h1>Create new MatchList</h1>

    {{ include('match_list/_form.html.twig') }}

    <a href="{{ path('match_list_index') }}">back to list</a>
{% endblock %}
