{% extends 'backend_base.html.twig' %}

{% block title %}MatchList{% endblock %}

{% block body %}
    <h1>MatchList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ match_list.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('match_list_index') }}">back to list</a>

    <a href="{{ path('match_list_edit', {'id': match_list.id}) }}">edit</a>

    {{ include('match_list/_delete_form.html.twig') }}
{% endblock %}
