<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{# TODO: Tell the browser to be responsive to screen width #}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
